header {
    width: 100%;
}

header span, header a, header ul {
    color: white;
}

main {
    position: relative;
}

#jumbo-container {
    display: flex;
    justify-content: space-between;
}

.image {
    width: 50%;
}

#jumbo-img {
    width: 100%;
    clip-path: polygon(0% 0%, 98% 5%, 91% 96%, 5% 100%);
    padding-top: 5%;
}

.jumbo-text {
    width: 40%;
    text-align: center;
    border-left: 4px solid rgba(15, 165, 157, 0.863)
}

#jumbotron-text {
    font-size: 3rem;
}

#tech-skills {
    padding: 3rem 0;
}

#skills {
    margin-top: 3.5rem;
    margin-right: 0px;
}

#skill {
    padding-right: 0;
}

#skills-learn-more {
    margin-top: 6rem;
}

#portfolio {
    margin-top: 1rem;
}

#portfolio-pics {
    margin-top: 3.5rem;
}

#contact {
    margin-top: 3.5rem;
    margin-bottom: 4rem;
}

#icons {
    margin-top: 3.5rem;
}

footer {
    position: relative;
    height: 4rem;
    align-items: center;
    color: white;
    background-color: black;
}