main header {
  margin-bottom: 0; }

main #jumbotron {
  margin-top: 0; }
  main #jumbotron #jumbo-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    main #jumbotron #jumbo-container .image-container {
      width: 50%; }
      main #jumbotron #jumbo-container .image-container #jumbo-img {
        position: relative;
        bottom: 10%;
        left: 13.5%;
        width: 50%;
        height: 50%;
        -webkit-clip-path: polygon(0 0, 97% 8%, 96% 94%, 0 100%);
        clip-path: polygon(0 0, 97% 8%, 96% 94%, 0 100%); }
      main #jumbotron #jumbo-container .image-container #jumbo-img-2 {
        position: relative;
        left: 38.5%;
        top: 10%;
        width: 50%;
        height: 50%;
        -webkit-clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 93%);
        clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 93%); }
    main #jumbotron #jumbo-container .jumbo-text {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      border-right: 4px solid rgba(15, 165, 157, 0.863);
      padding: 5%; }
      main #jumbotron #jumbo-container .jumbo-text h1 {
        text-shadow: .6px 1px darkgrey; }
      main #jumbotron #jumbo-container .jumbo-text #jumbotron-p {
        font-size: 3rem;
        font-weight: 100;
        text-shadow: .6px 1px darkgrey; }

@media only screen and (max-width: 700px) {
  main #jumbotron #jumbo-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    main #jumbotron #jumbo-container .image-container {
      width: 100%; }
      main #jumbotron #jumbo-container .image-container #jumbo-img {
        position: static;
        width: 100%;
        margin-top: 1rem; }
      main #jumbotron #jumbo-container .image-container #jumbo-img-2 {
        display: none; }
    main #jumbotron #jumbo-container .jumbo-text {
      width: 100%;
      border-right: none; } }

main #tech-skills #skills {
  margin-top: 3.5rem;
  margin-right: 0px;
  padding-left: 2rem; }
  main #tech-skills #skills .skills-img {
    max-width: 40%; }
    main #tech-skills #skills .skills-img img {
      width: 100%;
      height: auto;
      -webkit-clip-path: polygon(0 0, 97% 8%, 96% 94%, 0 100%);
      clip-path: polygon(0 0, 97% 8%, 96% 94%, 0 100%); }
  main #tech-skills #skills h1 {
    font-family: sans-serif;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: .6px 1px darkgrey;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: white;
    max-width: 100%; }
  main #tech-skills #skills .skills-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    main #tech-skills #skills .skills-description p {
      line-height: 3.5rem; }

main #tech-skills #skills-learn-more {
  margin-top: 2.5rem; }

@media only screen and (max-width: 768px) {
  main #tech-skills #skills .skills-img {
    margin: 0 auto; }
  main #tech-skills #skills .skills-description {
    margin-top: 2rem; } }

@media only screen and (max-width: 630px) {
  main #tech-skills #skills .skills-img {
    display: inline;
    width: 100%; }
    main #tech-skills #skills .skills-img img {
      display: none; }
  main #tech-skills #skills .skills-description {
    margin-top: 1.5rem; }
  main #tech-skills #skills h1 {
    display: block;
    position: static;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    top: 0;
    width: 100%;
    margin: 1rem auto;
    color: black; } }

main #portfolio {
  margin-top: 3rem;
  max-width: 100%; }
  main #portfolio h1 {
    font-family: sans-serif;
    font-size: 4rem;
    font-weight: bold; }
  main #portfolio .portfolio-pics {
    margin-top: 3.5rem; }
    main #portfolio .portfolio-pics img {
      max-width: 100%;
      margin-bottom: 3rem; }

main #contact {
  margin-top: 3.5rem;
  margin-bottom: 4rem; }
  main #contact h1 {
    font-family: sans-serif;
    font-size: 4rem;
    font-weight: bold; }
  main #contact #icons {
    margin-top: 3.5rem; }

footer {
  position: relative;
  height: 8rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding-left: 2rem; }
